*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli';
}
.container{
  width: 90%;
  margin: 0 auto;
}

header{
  background: navy;
  padding: 15px 0;
}

.header ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header ul li a{
  text-decoration: none;
  font-size: 17px;
  color: #eee;
  padding: 0 10px;
  display: inline-block;
  transition: 400ms;
}
.header ul li a:hover{
  color: #fff;
}


.header .mini-menu{
  display: none;
  width: 30px;
  height: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
}
.header .mini-menu::after{
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mini-title{
  display: none;
}




img{
  width: 100%;
}

.flexing{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flexing .half{
  width: 50%;
}

.home{
  padding: 60px 0;
  background: url(../img/top-banner.png) top left;
  background-repeat: no-repeat;
}
.home .about-me{
  padding-right: 30px;
}
.home .img-me{
  padding-left: 30px;
  text-align: right;
}
.img-me img{
  width: 75%;
}
.home .about-me h1,
.home .about-me h2{
  font-weight: 800;
  text-transform: uppercase;
}
.big-dream .big-text h1,
.home .about-me h1{
  font-size: 50px;
}
.home .about-me h2{
  font-size: 40px;
  margin-bottom: 10px;
}
.home .about-me h2 span{
  color: darkorange;
}
.home .about-me h3{
  color: #bd0259;
  font-size: 25px;
  margin-bottom: 10px;
}
.big-dream .big-text p,
.home .about-me p{
  color: #363636;
  font-size: 15px;
  margin-bottom: 20px;
}
.button-style{
  color: #333;
  font-size: 15px;
  padding: 10px 40px;
  border: 2px solid;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  transition: 300ms;
  text-transform: uppercase;
}
.button-style:hover{
  color: #fff;
  background: linear-gradient(90deg, #ff8800, #ff3c00);
  border-color: transparent;
}

.big-dream {
  background: url(../img/dream-bg.png) top right;
  background-repeat: repeat-y;
  padding: 60px 0;
}
.big-dream .big-text h1{
  margin-bottom: 15px;
}
.big-dream .big-text p{
  text-align: justify;
}
.big-dream .img-me{
  text-align: center !important;
  order: 1;
}
.big-dream .big-text{
  order: 2;
}

.services{
  padding: 60px 0;
  background: url(../img/bg-ss.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.services .item{
  width: 33.33%;
  padding: 10px;
}
.services .box{
  text-align: center;
  padding: 30px 15px;
  background: #f9f7ff;
  box-shadow: 0px 10px 40px #9797979a;
  border-top: 5px solid #3600b4;
  border-radius: 5px;
}
.services .box h2{
  font-size: 35px;
}
.services .box h3{
  font-size: 25px;
  color: #3600b4;
  font-weight: 900;
  margin: 15px 0;
}
.section-title{
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  color: #3600b4;
}
.section-title span{
  /* color: #ff8800; */
  border-bottom: 3px solid #bd0259;
  border-radius: 3px;
}
.skills{
  padding: 60px 0;
  background: url(../img/top-banner.png) top left;
  background-repeat: no-repeat;
}
.skills .box{
  padding: 10px;
}
.skills .skill-item{
  height: 25px;
  background: #ffdede;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 10px 40px #0353ff1c;
  margin-bottom: 30px;
}
.skills .skill-item .text{
  width: 10%;
  height: 100%;
  font-size: 13px;
  font-weight: 900;
  background: #000000;
  color: #fff;
  line-height: 25px;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.skills .skill-item .skill-bar{
  height: 100%;
  font-size: 11px;
  font-weight: 900;
  background: #4400b3;
  color: #fff;
  line-height: 25px;
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: end;
}
.skills .item-1 .skill-bar{
  width: 40%;
}
.skills .item-2 .skill-bar{
  width: 30%;
}
.skills .item-3 .skill-bar{
  width: 20%;
}
.skills .item-4 .skill-bar{
  width: 40%;
}
.skills .item-5 .skill-bar{
  width: 7%;
}
.skills .item-6 .skill-bar{
  width: 12%;
}

.experiance{
  padding: 60px 0;
  background: url(../img/exp-bg.png) center left;
  background-repeat: no-repeat;
}
.experiance .box{
  width: 90%;
  box-shadow: 0px 10px 40px #00000011;
  border-left: 5px solid;
  border-image: linear-gradient(#00ffff, blue);
  border-image-slice: 1;
  padding: 30px 20px;
  background: #ffffff9a;
  border-radius: 7px;
}
.experiance .box h2{
  font-size: 35px;
  color: #3600b4;
  font-weight: 900;
}
.experiance .box h5{
  font-size: 17px;
  color: #ff9113;
  font-weight: 600;
  margin: 10px 0;
}
.experiance .box p{
  font-size: 15px;
  color: #333;
}
.experiance .half:nth-child(2) .box{
  margin-left: auto;
}

.footer{
  padding: 20px 0;
  background: #eee;
}
.footer p{
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
}


/* responsive area */
@media screen and (max-width:991px) {

  .header .menu{
    display: none;
    width: 0px;
    background: #3600b4;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 15px;
    transition: 500ms;
  }
  .header .menu .mini-title{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }
  .header .menu li{
    margin-bottom: 20px;
  }
  .header .mini-menu{
    display: block;
  }
  .show{
    display: block !important;
    width: 300px !important;
    transition: width 500ms;
  }

  .flexing .half{
    width: 100% !important;
  }
  .home{
    padding: 50px 0;
  }
  .home .about-me{
    padding-right: 0px;
  }
  .home .img-me{
    padding-left: 0px;
    text-align: center;
    margin-top: 30px;
  }
  .img-me img{
    width: auto;
    height: 300px;
  }
  .big-dream .big-text h1,
  .home .about-me h1{
    font-size: 30px;
  }
  .home .about-me h2{
    font-size: 25px;
  }
  .home .about-me h3{
    font-size: 20px;
  }
  .big-dream .big-text p,
  .home .about-me p{
    font-size: 14px;
  }

  .big-dream {
    padding: 50px 0;
  }
  .big-dream .img-me{
    text-align: center !important;
    order: 2;
    margin-top: 40px;
  }
  .big-dream .big-text{
    order: 1;
  }

  .services .item{
    width: 100%;
  }
  .section-title{
    font-size: 35px;
  }
  .skills .box{
    padding: 0 0;
    margin-bottom: 20px;
  }


  .experiance .box{
    width: 100%;
    margin-bottom: 20px;
  }
}